/* .Schedule {
 } */
  
 .search {
    display: flex;
    flex-direction: column;
 }

 .search h3 {
  font-size: 1.5vw;
   text-align: center;
 }

.forSchedule {
  margin-top: 1vw;
  font-size: 2vw;
  padding: 2.5vw 2.3vw;
}

 .entry {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }
 
 label {
   margin-right: 0.5vw;
   font-size: 1.5vw;
 }
 
 select {
    width: 15vw;
    /* height: 1.5vw; */
    padding: 1vw;
    font-size: 1.3vw;
    color: black;
    border: solid #f37521;
    border-radius: 5px;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
 }

 .submit {
    padding: 1.28vw;
    font-size: 1.3vw;
    background-color: #f37521;
    border-radius: 5px;
    margin-left: 1vw;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
 }
 
.returnSchedule {
  margin-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.loader {
  border: 16px solid #edcfbb;
  border-radius: 50%;
  border-top: 16px solid #f37521;
  text-align: center;
  width: 5vw;
  height: 5vw;
  /* -webkit-animation: spin 2s linear infinite;  */
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
/* @-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
} */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 /* basic table styling */

#theTable {
  margin: 0.8vw 1vw;
  width: auto;
  flex-direction: column;
  border: solid #f37521;
  border-radius: 6px;
  border-collapse: collapse;
}

#theTable th {
  font-size: 1.5vw;
  padding: 0.8vw 1vw;
  color: white;
  font-weight: 600;
  background-color: #f37521;
  border-bottom: solid #f37521;
  border-right: solid #f37521;
}

#theTable th:nth-child(n + 1) {
  color: #f37521;
  background-color: white;
}

#theTable td {
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  text-align: center;
  padding: 0.8vw 1vw;
}

#theTable td:nth-child(n+1) {
  border-bottom: solid #f37521;
}

#theTable td:not(:last-child) {
  border-bottom: 0px;
}

#lineTable table {
  border:1px solid black;
}

#lineTable tr {
  border:1px solid black;
}

#lineTable th {
  border:1px solid black;
}

#lineTable td {
  border:1px solid black;
}